<div class="container my-5">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <form
            #employeeForm="ngForm"
            class="pb-2"
            (ngSubmit)="addOrUpdateEmp()"
            *ngIf="
              usersService.hasRole([
                'SuperAdmin',
                'Employees.Create',
                'Employees.Update'
              ])
            "
          >
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="personal-info">
                  <h3><strong>Personal Information</strong></h3>
                  <div class="form-group mb-3">
                    <label for="name">Name:</label>
                    <input
                      type="text"
                      id="name"
                      [(ngModel)]="employee.name"
                      name="name"
                      required
                      class="form-control"
                      #name="ngModel"
                    />
                    <div *ngIf="name.invalid && (name.dirty || name.touched)">
                      <div
                        class="text-danger"
                        *ngIf="name.errors?.['required']"
                      >
                        Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="email">Email:</label>
                    <input
                      type="email"
                      id="email"
                      [(ngModel)]="employee.email"
                      name="email"
                      required
                      class="form-control"
                      #email="ngModel"
                    />
                    <div
                      *ngIf="email.invalid && (email.dirty || email.touched)"
                    >
                      <div
                        class="text-danger"
                        *ngIf="email.errors?.['required']"
                      >
                        Email is required.
                      </div>
                      <div class="text-danger" *ngIf="email.errors?.['email']">
                        Invalid email format.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="address">Address:</label>
                    <input
                      type="text"
                      id="address"
                      [(ngModel)]="employee.address"
                      name="address"
                      required
                      class="form-control"
                      #address="ngModel"
                    />
                    <div
                      *ngIf="
                        address.invalid && (address.dirty || address.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="address.errors?.['required']"
                      >
                        Address is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="phoneNumber">Phone Number:</label>
                    <input
                      type="tel"
                      id="phoneNumber"
                      [(ngModel)]="employee.phone"
                      name="phoneNumber"
                      required
                      pattern="[0-9]{11}"
                      class="form-control"
                      #phoneNumber="ngModel"
                    />
                    <div
                      *ngIf="
                        phoneNumber.invalid &&
                        (phoneNumber.dirty || phoneNumber.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="phoneNumber.errors?.['required']"
                      >
                        Phone number is required.
                      </div>
                      <div
                        class="text-danger"
                        *ngIf="phoneNumber.errors?.['pattern']"
                      >
                        Phone number should contain 11 digits.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="dateOfBirth">Date of Birth:</label>
                    <input
                      type="date"
                      id="dateOfBirth"
                      [(ngModel)]="employee.dateOfBirth"
                      name="dateOfBirth"
                      required
                      class="form-control"
                      #dateOfBirth="ngModel"
                    />
                    <div
                      *ngIf="
                        dateOfBirth.invalid &&
                        (dateOfBirth.dirty || dateOfBirth.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="dateOfBirth.errors?.['required']"
                      >
                        Date of Birth is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="nationalID">National ID:</label>
                    <input
                      type="text"
                      id="nationalID"
                      [(ngModel)]="employee.nationalId"
                      name="nationalID"
                      required
                      pattern="[0-9]{14}"
                      class="form-control"
                      #nationalID="ngModel"
                    />
                    <div
                      *ngIf="
                        nationalID.invalid &&
                        (nationalID.dirty || nationalID.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="nationalID.errors?.['required']"
                      >
                        National ID is required.
                      </div>
                      <div
                        class="text-danger"
                        *ngIf="nationalID.errors?.['pattern']"
                      >
                        National ID should contain 14 digits.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="nationality">Nationality:</label>
                    <input
                      type="text"
                      id="nationality"
                      [(ngModel)]="employee.nationality"
                      name="nationality"
                      required
                      class="form-control"
                      #nationality="ngModel"
                    />
                    <div
                      *ngIf="
                        nationality.invalid &&
                        (nationality.dirty || nationality.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="nationality.errors?.['required']"
                      >
                        Nationality is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="work-related-info">
                  <h3><strong>Work-Related Information</strong></h3>
                  <div class="form-group mb-3">
                    <label for="contractDate">Contract Date:</label>
                    <input
                      type="date"
                      id="contractDate"
                      [(ngModel)]="employee.hireDate"
                      name="contractDate"
                      required
                      class="form-control"
                      [min]="minContractDate"
                      #contractDate="ngModel"
                    />
                    <div
                      *ngIf="
                        contractDate.invalid &&
                        (contractDate.dirty || contractDate.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="contractDate.errors?.['required']"
                      >
                        Contract date is required.
                      </div>
                      <div
                        class="text-danger"
                        *ngIf="contractDate.errors?.['min']"
                      >
                        Please enter a contract date after the year 2008.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="salary">Salary:</label>
                    <input
                      type="number"
                      id="salary"
                      [(ngModel)]="employee.salary"
                      name="salary"
                      required
                      class="form-control"
                      #salary="ngModel"
                    />
                    <div
                      *ngIf="salary.invalid && (salary.dirty || salary.touched)"
                    >
                      <div
                        class="text-danger"
                        *ngIf="salary.errors?.['required']"
                      >
                        Salary is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="attendanceTime">Attendance Time:</label>
                    <input
                      type="time"
                      id="attendanceTime"
                      [(ngModel)]="employee.attendanceTime"
                      name="attendanceTime"
                      required
                      class="form-control"
                      #attendanceTime="ngModel"
                    />
                    <div
                      *ngIf="
                        attendanceTime.invalid &&
                        (attendanceTime.dirty || attendanceTime.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="attendanceTime.errors?.['required']"
                      >
                        Attendance time is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="departureTime">Departure Time:</label>
                    <input
                      type="time"
                      id="departureTime"
                      [(ngModel)]="employee.departureTime"
                      name="departureTime"
                      required
                      class="form-control"
                      #departureTime="ngModel"
                    />
                    <div
                      *ngIf="
                        departureTime.invalid &&
                        (departureTime.dirty || departureTime.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="departureTime.errors?.['required']"
                      >
                        Departure time is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="gender">Gender:</label>
                    <select
                      id="gender"
                      [(ngModel)]="employee.gender"
                      name="gender"
                      required
                      class="form-select"
                      #gender="ngModel"
                    >
                      <option value="f">Female</option>
                      <option value="m">Male</option>
                    </select>
                    <div
                      *ngIf="gender.invalid && (gender.dirty || gender.touched)"
                    >
                      <div
                        class="text-danger"
                        *ngIf="gender.errors?.['required']"
                      >
                        Gender is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="departmentId">Department:</label>
                    <select
                      id="departmentId"
                      [(ngModel)]="employee.departmentId"
                      name="departmentId"
                      required
                      class="form-select"
                      #departmentId="ngModel"
                    >
                      <option
                        *ngFor="let department of departments"
                        [value]="department.id"
                      >
                        {{ department.name }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        departmentId.invalid &&
                        (departmentId.dirty || departmentId.touched)
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="departmentId.errors?.['required']"
                      >
                        Department is required.
                      </div>
                    </div>
                  </div>

                  <div class="message">
                    <div class="alert alert-success" *ngIf="message">
                      <p>{{ message }}</p>
                    </div>
                  </div>
                  <div class="err-message">
                    <div class="alert alert-danger" *ngIf="errMes">
                      <p>{{ errMes }}</p>
                    </div>
                  </div>
                  <div class="buttons mt-4 d-flex justify-content-center">
                    <button
                      class="btn btn-primary mx-1"
                      type="submit"
                      *ngIf="
                        usersService.hasRole([
                          'SuperAdmin',
                          'Employees.Create'
                        ]) ||
                        (isEditMode &&
                          usersService.hasRole([
                            'SuperAdmin',
                            'Employees.Update'
                          ]))
                      "
                    >
                      {{ isEditMode ? "Update" : "Add" }} Employee
                    </button>
                    <button
                      class="btn btn-danger mx-1"
                      type="button"
                      (click)="resetForm()"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row my-2 border-top pt-2">
          <div class="col-12 overflow-x-scroll">
            <h3><strong>Employee List</strong></h3>
            <table class="table table-bordered table-striped overflow-scroll">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Date of Birth</th>
                  <th>National ID</th>
                  <th>Nationality</th>
                  <th>Hire Date</th>
                  <th>Salary</th>
                  <th>Attendance Time</th>
                  <th>Departure Time</th>
                  <th>Gender</th>
                  <th>Department</th>
                  <th
                    *ngIf="
                      usersService.hasRole([
                        'SuperAdmin',
                        'Employees.Delete',
                        'Employees.Update'
                      ])
                    "
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let emp of employees">
                  <td>{{ emp.name }}</td>
                  <td>{{ emp.email }}</td>
                  <td>{{ emp.address }}</td>
                  <td>{{ emp.phone }}</td>
                  <td>{{ emp.dateOfBirth }}</td>
                  <td>{{ emp.nationalId }}</td>
                  <td>{{ emp.nationality }}</td>
                  <td>{{ emp.hireDate }}</td>
                  <td>{{ emp.salary }}</td>
                  <td>{{ emp.attendanceTime }}</td>
                  <td>{{ emp.departureTime }}</td>
                  <td>{{ emp.gender === "m" ? "Male" : "Female" }}</td>
                  <td>{{ emp.departmentName }}</td>
                  <td
                    *ngIf="
                      usersService.hasRole([
                        'SuperAdmin',
                        'Employees.Delete',
                        'Employees.Update'
                      ])
                    "
                  >
                    <button
                      class="btn btn-sm btn-outline-primary mx-1"
                      (click)="editEmp(emp)"
                      *ngIf="
                        usersService.hasRole(['SuperAdmin', 'Employees.Update'])
                      "
                    >
                      <i class="bi bi-pencil"></i>
                    </button>
                    <button
                      *ngIf="
                        usersService.hasRole(['SuperAdmin', 'Employees.Delete'])
                      "
                      class="btn btn-sm btn-outline-danger mx-1"
                      (click)="deleteEmp(emp.nationalId)"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
